!/input/example.png
!/web/extensions/core/
!/web/extensions/logging.js.example
**/*.py[cod]
**/__pycache__/
*.ckpt
*.h5
*.joblib
*.mlmodel
*.onnx
*.pb
*.pbtxt
*.pkl
*.png
*.pt
*.pth
*.py[cod]
*.safetensors
*.tflite
*.webp
.idea/
.vs
/.vs
/input/
/models/
/output/
/temp/
/tests-ui/data/object_info.json
/user/
/web/extensions/*
/workflows*/*.json
__pycache__
__pycache__/
custom_nodes/
extra_model_paths.yaml
venv/
workspace*/
